.wrapper {
  display: flex;
  align-items: center;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

img {
  width: 35vw;
  height: 30vh;
  object-fit: cover;
}

button {
  border: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  color: red;
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: larger;
  transition: 0.2s;
}

button:hover {
  border: red solid 1px;
  transform: scale(1.1) translateX(5px) translateY(2px);
}
